[Unit]
Description=Puma HTTP Server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/reddit/
ExecStart=/usr/local/bin/puma -b tcp://0.0.0.0:9292
KillMode=mixed

Restart=always

[Install]
WantedBy=multi-user.target

